n8n/cognitive-biases-atlas.workflow.json
{
  "name": "Cognitive Bias Atlas Bot",
  "nodes": [
    {
      "id": "import-notes",
      "name": "Import Notes",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -3520,
        928
      ],
      "parameters": {
        "content": "После импорта:\n1. Назначь credentials на Telegram Trigger, Telegram, Postgres и Transcribe Voice.\n2. Открой node \"Attach Config (Telegram)\" и проверь URL сайта.\n3. В контейнер n8n должны быть переданы OPENROUTER_API_KEY, OPENROUTER_MODEL и N8N_WEBHOOK_SECRET.\n4. Для автозапуска курса после mini app регистрации нужен webhook path cb-miniapp-register.\n5. Контент в cb_lessons и cb_atlas_nodes уже должен быть загружен.",
        "height": 360,
        "width": 700,
        "color": 6
      }
    },
    {
      "id": "telegram-trigger",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -3280,
        1328
      ],
      "parameters": {
        "updates": [
          "message",
          "callback_query"
        ],
        "additionalFields": {}
      }
    },
    {
      "id": "registration-webhook",
      "name": "Miniapp Registration Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -3280,
        1936
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "cb-miniapp-register",
        "options": {}
      }
    },
    {
      "id": "attach-config-telegram",
      "name": "Attach Config (Telegram)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3056,
        1328
      ],
      "parameters": {
        "jsCode": "const siteUrl = 'https://cognitive-biaces.vercel.app';\nreturn [{\n  json: {\n    ...$json,\n    site_url: siteUrl,\n    miniapp_url: `${siteUrl}/miniapp/register`,\n    quiz_url: `${siteUrl}/quizzes/judgment-lab`,\n    openrouter_endpoint: 'https://openrouter.ai/api/v1/chat/completions',\n    openrouter_model: 'qwen/qwen3-coder:free',\n    openrouter_api_key: '',\n    webhook_secret: ''\n  }\n}];"
      }
    },
    {
      "id": "attach-config-webhook",
      "name": "Attach Config (Webhook)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3056,
        1936
      ],
      "parameters": {
        "jsCode": "const siteUrl = 'https://cognitive-biaces.vercel.app';\nconst body = $json.body || {};\nconst expected = '';\nreturn [{\n  json: {\n    ...body,\n    secret_ok: !expected || body.secret === expected,\n    tg_id: String(body.tg_id || ''),\n    chat_id: String(body.tg_id || ''),\n    first_name: body.firstName || '',\n    last_name: body.lastName || '',\n    tg_username: body.tgUsername || '',\n    email: body.email || '',\n    site_url: siteUrl,\n    miniapp_url: `${siteUrl}/miniapp/register`,\n    quiz_url: `${siteUrl}/quizzes/judgment-lab`,\n    openrouter_endpoint: 'https://openrouter.ai/api/v1/chat/completions',\n    openrouter_model: 'qwen/qwen3-coder:free',\n    openrouter_api_key: '',\n    webhook_secret: expected\n  }\n}];"
      }
    },
    {
      "id": "webhook-secret-valid",
      "name": "Webhook Secret Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2832,
        1936
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "webhook-secret-ok",
              "leftValue": "={{ $json.secret_ok }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "webhook-invalid-noop",
      "name": "Webhook Invalid",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -2608,
        2048
      ],
      "parameters": {}
    },
    {
      "id": "send-registration-complete",
      "name": "Send Registration Complete",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -2384,
        1872
      ],
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "=✨ Регистрация завершена.\n\nТеперь курс, атлас и практика связаны с твоим Telegram. Ниже отправляю первый урок, с которого удобно начать.",
        "additionalFields": {
          "appendAttribution": false
        }
      }
    },
    {
      "id": "prepare-course-entry-webhook",
      "name": "Prepare Course Entry (Webhook)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2384,
        2000
      ],
      "parameters": {
        "jsCode": "const source = $node['Attach Config (Webhook)']?.json || {};\nreturn [{\n  json: {\n    ...source,\n    course_entry_source: 'registration_webhook'\n  }\n}];"
      }
    },
    {
      "id": "get-webhook-user",
      "name": "Get Webhook User",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -2160,
        2000
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "select\n  u.*,\n  '{{ $json.tg_id }}'::text as tg_id,\n  '{{ $json.chat_id }}'::text as chat_id,\n  '{{ String($json.first_name || '').replace(/'/g, \"''\") }}'::text as first_name,\n  '{{ String($json.last_name || '').replace(/'/g, \"''\") }}'::text as last_name,\n  '{{ String($json.tg_username || '').replace(/'/g, \"''\") }}'::text as tg_username,\n  '{{ $json.email }}'::text as email,\n  '{{ $json.site_url }}'::text as site_url,\n  '{{ $json.miniapp_url }}'::text as miniapp_url,\n  '{{ $json.quiz_url }}'::text as quiz_url,\n  '{{ $json.openrouter_endpoint }}'::text as openrouter_endpoint,\n  '{{ $json.openrouter_model }}'::text as openrouter_model,\n  '{{ String($json.openrouter_api_key || '').replace(/'/g, \"''\") }}'::text as openrouter_api_key\nfrom (select 1) seed\nleft join public.cb_users u on u.tg_id='{{ $json.tg_id }}'\nlimit 1;",
        "options": {}
      },
      "alwaysOutputData": true
    },
    {
      "id": "webhook-user-exists",
      "name": "Webhook User Exists?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1936,
        2000
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "webhook-user-id-exists",
              "leftValue": "={{ Boolean($json.id) }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "create-webhook-user",
      "name": "Create Webhook User",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1712,
        2128
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "insert into public.cb_users (tg_id, tg_username, first_name, last_name, email, updated_at)\nvalues (\n  '{{ $json.tg_id }}',\n  {{ $json.tg_username ? \"'\" + String($json.tg_username).replace(/'/g, \"''\") + \"'\" : 'null' }},\n  {{ $json.first_name ? \"'\" + String($json.first_name).replace(/'/g, \"''\") + \"'\" : 'null' }},\n  {{ $json.last_name ? \"'\" + String($json.last_name).replace(/'/g, \"''\") + \"'\" : 'null' }},\n  {{ $json.email ? \"'\" + String($json.email).replace(/'/g, \"''\") + \"'\" : 'null' }},\n  now()\n)\non conflict (tg_id) do update set\n  tg_username = excluded.tg_username,\n  first_name = coalesce(public.cb_users.first_name, excluded.first_name),\n  last_name = coalesce(public.cb_users.last_name, excluded.last_name),\n  email = coalesce(public.cb_users.email, excluded.email),\n  updated_at = now()\nreturning\n  tg_id,\n  '{{ $json.chat_id }}'::text as chat_id,\n  '{{ String($json.first_name || '').replace(/'/g, \"''\") }}'::text as first_name,\n  '{{ $json.site_url }}'::text as site_url,\n  '{{ $json.miniapp_url }}'::text as miniapp_url,\n  '{{ $json.quiz_url }}'::text as quiz_url,\n  '{{ $json.openrouter_endpoint }}'::text as openrouter_endpoint,\n  '{{ $json.openrouter_model }}'::text as openrouter_model,\n  '{{ String($json.openrouter_api_key || '').replace(/'/g, \"''\") }}'::text as openrouter_api_key;",
        "options": {}
      }
    },
    {
      "id": "prepare-course-entry-webhook-user",
      "name": "Prepare Course Entry (Webhook User)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1488,
        2128
      ],
      "parameters": {
        "jsCode": "return [{\n  json: {\n    ...$json,\n    course_entry_source: 'registration_webhook'\n  }\n}];"
      }
    },
    {
      "id": "is-callback",
      "name": "Is Callback?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2832,
        1328
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "has-callback",
              "leftValue": "={{ $json.callback_query.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "prepare-callback-context",
      "name": "Prepare Callback Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2608,
        1216
      ],
      "parameters": {
        "jsCode": "const cb = $json.callback_query || {};\nreturn [{\n  json: {\n    ...$json,\n    tg_id: String(cb.from?.id || ''),\n    chat_id: String(cb.from?.id || ''),\n    first_name: cb.from?.first_name || '',\n    message_id: String(cb.message?.message_id || ''),\n    current_message_text: cb.message?.text || cb.message?.caption || ' ',\n    callback_data: String(cb.data || '')\n  }\n}];"
      }
    },
    {
      "id": "answer-callback",
      "name": "Answer Callback",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -2384,
        1120
      ],
      "parameters": {
        "resource": "callback",
        "queryId": "={{ $json.callback_query.id }}",
        "additionalFields": {}
      }
    },
    {
      "id": "get-callback-user",
      "name": "Get Callback User",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -2384,
        1280
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "select\n  u.*,\n  '{{ $json.tg_id }}'::text as tg_id,\n  '{{ $json.chat_id }}'::text as chat_id,\n  '{{ String($json.first_name || '').replace(/'/g, \"''\") }}'::text as first_name,\n  '{{ String($json.message_id || '').replace(/'/g, \"''\") }}'::text as message_id,\n  '{{ String($json.current_message_text || '').replace(/'/g, \"''\") }}'::text as current_message_text,\n  '{{ String($json.callback_data || '').replace(/'/g, \"''\") }}'::text as callback_data,\n  '{{ $json.site_url }}'::text as site_url,\n  '{{ $json.miniapp_url }}'::text as miniapp_url,\n  '{{ $json.quiz_url }}'::text as quiz_url,\n  '{{ $json.openrouter_endpoint }}'::text as openrouter_endpoint,\n  '{{ $json.openrouter_model }}'::text as openrouter_model,\n  '{{ String($json.openrouter_api_key || '').replace(/'/g, \"''\") }}'::text as openrouter_api_key\nfrom (select 1) seed\nleft join public.cb_users u on u.tg_id='{{ $json.tg_id }}'\nlimit 1;",
        "options": {}
      },
      "alwaysOutputData": true
    },
    {
      "id": "callback-registered",
      "name": "Callback Registered?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2160,
        1280
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "callback-email-exists",
              "leftValue": "={{ Boolean($json.email) }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "send-registration-prompt",
      "name": "Send Registration Prompt",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1936,
        1408
      ],
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "=👋 {{ $json.first_name || 'Привет' }}! Чтобы курс, атлас и квизы работали как единый путь, сначала заверши быструю регистрацию.\n\nОна привяжет твой Telegram к сайту и откроет правильный сценарий внутри бота.",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Открыть регистрацию",
                    "additionalFields": {
                      "web_app": {
                        "url": "={{ $json.miniapp_url }}"
                      }
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false
        }
      }
    },
    {
      "id": "normalize-callback-route",
      "name": "Normalize Callback Route",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1936,
        1152
      ],
      "parameters": {
        "jsCode": "const raw = String($json.callback_data || '').trim();\nconst out = {\n  ...$json,\n  route: 'unknown',\n  lesson_id: '',\n  question_text: ''\n};\nlet match;\nif ((match = raw.match(/^lesson:next:(.+)$/))) {\n  out.route = 'next';\n  out.lesson_id = match[1];\n} else if ((match = raw.match(/^lesson:save:(.+)$/))) {\n  out.route = 'save';\n  out.lesson_id = match[1];\n} else if ((match = raw.match(/^lesson:ai:(.+)$/))) {\n  out.route = 'ai_open';\n  out.lesson_id = match[1];\n} else if ((match = raw.match(/^ai:suggest:(.+):(life|spot|practice)$/))) {\n  out.route = 'ai_suggest';\n  out.lesson_id = match[1];\n  out.question_text = match[2] === 'life'\n    ? 'Как это искажение проявляется в обычной жизни?'\n    : match[2] === 'spot'\n      ? 'Как замечать это искажение у себя в моменте?'\n      : 'Что делать на практике, чтобы не попадать в эту ловушку?';\n}\nreturn [{ json: out }];"
      }
    },
    {
      "id": "callback-route",
      "name": "Callback Route",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -1712,
        1152
      ],
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "callback-next",
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "next",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "next"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "callback-save",
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "save",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "save"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "callback-ai-open",
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "ai_open",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "ai_open"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "callback-ai-suggest",
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "ai_suggest",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "ai_suggest"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "freeze-lesson-card",
      "name": "Freeze Lesson Card",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1488,
        1024
      ],
      "parameters": {
        "operation": "editMessageText",
        "chatId": "={{ $json.chat_id }}",
        "messageId": "={{ $json.message_id }}",
        "text": "={{ $json.current_message_text || ' ' }}",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      }
    },
    {
      "id": "complete-lesson",
      "name": "Complete Lesson",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1264,
        1024
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "update public.cb_user_lessons\nset status = 'completed',\n    completed_at = now()\nwhere user_tg_id = '{{ $node[\"Normalize Callback Route\"].json.tg_id }}'\n  and lesson_id = '{{ $node[\"Normalize Callback Route\"].json.lesson_id }}';",
        "options": {}
      },
      "alwaysOutputData": true
    },
    {
      "id": "prepare-course-entry-callback",
      "name": "Prepare Course Entry (Callback)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1040,
        1024
      ],
      "parameters": {
        "jsCode": "const source = $node['Normalize Callback Route']?.json || {};\nreturn [{\n  json: {\n    ...source,\n    course_entry_source: 'next_lesson'\n  }\n}];"
      }
    },
    {
      "id": "save-lesson",
      "name": "Save Lesson",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1488,
        1152
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "insert into public.cb_saved_lessons (user_tg_id, lesson_id)\nvalues ('{{ $json.tg_id }}', '{{ $json.lesson_id }}')\non conflict (user_tg_id, lesson_id) do nothing;",
        "options": {}
      },
      "alwaysOutputData": true
    },
    {
      "id": "send-saved-confirmation",
      "name": "Send Saved Confirmation",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1264,
        1152
      ],
      "parameters": {
        "chatId": "={{ $node['Normalize Callback Route'].json.chat_id }}",
        "text": "=📌 Сохранил урок. К нему можно будет вернуться позже и быстро освежить ключевую мысль.",
        "additionalFields": {
          "appendAttribution": false
        }
      }
    },
    {
      "id": "get-lesson-for-ai",
      "name": "Get Lesson For AI",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1488,
        1280
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "select\n  l.*,\n  '{{ $json.tg_id }}'::text as tg_id,\n  '{{ $json.chat_id }}'::text as chat_id,\n  '{{ String($json.message_id || '').replace(/'/g, \"''\") }}'::text as message_id,\n  '{{ String($json.current_message_text || '').replace(/'/g, \"''\") }}'::text as current_message_text,\n  '{{ $json.site_url }}'::text as site_url,\n  '{{ $json.quiz_url }}'::text as quiz_url,\n  '{{ $json.openrouter_endpoint }}'::text as openrouter_endpoint,\n  '{{ $json.openrouter_model }}'::text as openrouter_model,\n  '{{ String($json.openrouter_api_key || '').replace(/'/g, \"''\") }}'::text as openrouter_api_key\nfrom public.cb_lessons l\nwhere l.id = '{{ $json.lesson_id }}'\nlimit 1;",
        "options": {}
      }
    },
    {
      "id": "send-ai-suggestions",
      "name": "Send AI Suggestions",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1264,
        1280
      ],
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "=🧠 <b>{{ $json.title }}</b>\n\nВыбери готовый вопрос или просто напиши свой следующим сообщением. Можно и голосом.",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Как это проявляется в жизни?",
                    "additionalFields": {
                      "callback_data": "=ai:suggest:{{ $json.id }}:life"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Как замечать это у себя?",
                    "additionalFields": {
                      "callback_data": "=ai:suggest:{{ $json.id }}:spot"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Что делать на практике?",
                    "additionalFields": {
                      "callback_data": "=ai:suggest:{{ $json.id }}:practice"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      }
    },
    {
      "id": "hide-ai-prompt-buttons",
      "name": "Hide AI Prompt Buttons",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1488,
        1408
      ],
      "parameters": {
        "operation": "editMessageText",
        "chatId": "={{ $json.chat_id }}",
        "messageId": "={{ $json.message_id }}",
        "text": "={{ $json.current_message_text || ' ' }}",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      }
    },
    {
      "id": "send-thinking-callback",
      "name": "Send Thinking (Callback)",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1264,
        1408
      ],
      "parameters": {
        "chatId": "={{ $node['Normalize Callback Route'].json.chat_id }}",
        "text": "Надо подумать, сейчас отвечу...",
        "additionalFields": {
          "appendAttribution": false
        }
      }
    },
    {
      "id": "prepare-ai-suggest-input",
      "name": "Prepare AI Suggest Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1040,
        1408
      ],
      "parameters": {
        "jsCode": "const source = $node['Normalize Callback Route']?.json || {};\nreturn [{\n  json: {\n    ...source,\n    message_type: 'text',\n    question_text: String(source.question_text || '').trim()\n  }\n}];"
      }
    },
    {
      "id": "prepare-message-context",
      "name": "Prepare Message Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2608,
        1456
      ],
      "parameters": {
        "jsCode": "const message = $json.message || {};\nconst text = String(message.text || message.caption || '').trim();\nconst entities = message.entities || [];\nconst isCommand = entities.some((entity) => entity.type === 'bot_command');\nconst startMatch = text.match(/^\\/start(?:\\s+(.+))?$/);\nconst route = message.voice ? 'voice' : (isCommand ? 'command' : (text ? 'text' : 'ignore'));\nreturn [{\n  json: {\n    ...$json,\n    tg_id: String(message.chat?.id || ''),\n    chat_id: String(message.chat?.id || ''),\n    first_name: message.from?.first_name || '',\n    last_name: message.from?.last_name || '',\n    tg_username: message.from?.username || '',\n    message_text: text,\n    route,\n    start_payload: startMatch?.[1] || '',\n    is_start: Boolean(startMatch)\n  }\n}];"
      }
    },
    {
      "id": "message-route",
      "name": "Message Route",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -2384,
        1456
      ],
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "route-command",
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "command",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "command"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "route-text",
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "text",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "route-voice",
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "voice",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "voice"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "is-start-command",
      "name": "Is /start?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2160,
        1392
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "is-start-command-condition",
              "leftValue": "={{ $json.is_start }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "send-unknown-command",
      "name": "Send Unknown Command",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1936,
        1504
      ],
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "=Сейчас бот понимает /start и вопросы по текущему уроку. Начни с /start, и я соберу для тебя маршрут по курсу.",
        "additionalFields": {
          "appendAttribution": false
        }
      }
    },
    {
      "id": "get-start-user",
      "name": "Get Start User",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1936,
        1392
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "select\n  u.*,\n  coalesce(u.email, l.email) as email,\n  '{{ $json.tg_id }}'::text as tg_id,\n  '{{ $json.chat_id }}'::text as chat_id,\n  '{{ String($json.first_name || '').replace(/'/g, \"''\") }}'::text as first_name,\n  '{{ String($json.last_name || '').replace(/'/g, \"''\") }}'::text as last_name,\n  '{{ String($json.tg_username || '').replace(/'/g, \"''\") }}'::text as tg_username,\n  '{{ $json.site_url }}'::text as site_url,\n  '{{ $json.miniapp_url }}'::text as miniapp_url,\n  '{{ $json.quiz_url }}'::text as quiz_url,\n  '{{ $json.openrouter_endpoint }}'::text as openrouter_endpoint,\n  '{{ $json.openrouter_model }}'::text as openrouter_model,\n  '{{ String($json.openrouter_api_key || '').replace(/'/g, \"''\") }}'::text as openrouter_api_key,\n  '{{ String($json.start_payload || '').replace(/'/g, \"''\") }}'::text as start_payload\nfrom (select 1) seed\nleft join public.cb_users u on u.tg_id='{{ $json.tg_id }}'\nleft join public.cb_leads l on l.tg_username='{{ String($json.tg_username || '').replace(/'/g, \"''\") }}' and l.tg_username is not null and l.tg_username != ''\norder by u.id nulls last, l.created_at desc\nlimit 1;",
        "options": {}
      },
      "alwaysOutputData": true
    },
    {
      "id": "start-registered",
      "name": "Start Registered?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1712,
        1392
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "start-email-exists",
              "leftValue": "={{ Boolean($json.email) }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "create-start-user",
      "name": "Create Start User",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1488,
        1520
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "insert into public.cb_users (tg_id, tg_username, first_name, last_name, updated_at)\nvalues (\n  '{{ $json.tg_id }}',\n  {{ $json.tg_username ? \"'\" + String($json.tg_username).replace(/'/g, \"''\") + \"'\" : 'null' }},\n  {{ $json.first_name ? \"'\" + String($json.first_name).replace(/'/g, \"''\") + \"'\" : 'null' }},\n  {{ $json.last_name ? \"'\" + String($json.last_name).replace(/'/g, \"''\") + \"'\" : 'null' }},\n  now()\n)\non conflict (tg_id) do update set\n  tg_username = excluded.tg_username,\n  first_name = coalesce(public.cb_users.first_name, excluded.first_name),\n  last_name = coalesce(public.cb_users.last_name, excluded.last_name),\n  updated_at = now()\nreturning\n  tg_id,\n  '{{ $json.chat_id }}'::text as chat_id,\n  '{{ String($json.first_name || '').replace(/'/g, \"''\") }}'::text as first_name,\n  '{{ $json.site_url }}'::text as site_url,\n  '{{ $json.miniapp_url }}'::text as miniapp_url,\n  '{{ $json.quiz_url }}'::text as quiz_url,\n  '{{ $json.openrouter_endpoint }}'::text as openrouter_endpoint,\n  '{{ $json.openrouter_model }}'::text as openrouter_model,\n  '{{ String($json.openrouter_api_key || '').replace(/'/g, \"''\") }}'::text as openrouter_api_key;",
        "options": {}
      }
    },
    {
      "id": "send-start-greeting",
      "name": "Send Start Greeting",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1488,
        1328
      ],
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "=👋 {{ $json.first_name || 'Привет' }}! Ты уже в системе. Продолжаем погружение в когнитивные искажения.\n\nНиже — твой текущий шаг в курсе. Карта, примеры и AI-подсказки всегда под рукой.",
        "additionalFields": {
          "appendAttribution": false
        }
      }
    },
    {
      "id": "prepare-course-entry-start",
      "name": "Prepare Course Entry (Start)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1488,
        1408
      ],
      "parameters": {
        "jsCode": "return [{\n  json: {\n    ...$json,\n    course_entry_source: 'start'\n  }\n}];"
      }
    },
    {
      "id": "get-text-user",
      "name": "Get Text User",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1936,
        1648
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "select\n  u.*,\n  '{{ $json.tg_id }}'::text as tg_id,\n  '{{ $json.chat_id }}'::text as chat_id,\n  '{{ String($json.first_name || '').replace(/'/g, \"''\") }}'::text as first_name,\n  '{{ String($json.message_text || '').replace(/'/g, \"''\") }}'::text as message_text,\n  '{{ $json.site_url }}'::text as site_url,\n  '{{ $json.miniapp_url }}'::text as miniapp_url,\n  '{{ $json.quiz_url }}'::text as quiz_url,\n  '{{ $json.openrouter_endpoint }}'::text as openrouter_endpoint,\n  '{{ $json.openrouter_model }}'::text as openrouter_model,\n  '{{ String($json.openrouter_api_key || '').replace(/'/g, \"''\") }}'::text as openrouter_api_key\nfrom (select 1) seed\nleft join public.cb_users u on u.tg_id='{{ $json.tg_id }}'\nlimit 1;",
        "options": {}
      },
      "alwaysOutputData": true
    },
    {
      "id": "text-registered",
      "name": "Text Registered?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1712,
        1648
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "text-email-exists",
              "leftValue": "={{ Boolean($json.email) }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "send-thinking-message",
      "name": "Send Thinking (Message)",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1488,
        1648
      ],
      "parameters": {
        "chatId": "={{ $node['Get Text User'].json.chat_id }}",
        "text": "Надо подумать, сейчас отвечу...",
        "additionalFields": {
          "appendAttribution": false
        }
      }
    },
    {
      "id": "prepare-ai-text-input",
      "name": "Prepare AI Text Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1264,
        1648
      ],
      "parameters": {
        "jsCode": "const source = $node['Get Text User']?.json || {};\nreturn [{\n  json: {\n    ...source,\n    lesson_id: '',\n    message_type: 'text',\n    question_text: String(source.message_text || '').trim()\n  }\n}];"
      }
    },
    {
      "id": "get-voice-user",
      "name": "Get Voice User",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1936,
        1808
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "select\n  u.*,\n  '{{ $json.tg_id }}'::text as tg_id,\n  '{{ $json.chat_id }}'::text as chat_id,\n  '{{ String($json.first_name || '').replace(/'/g, \"''\") }}'::text as first_name,\n  '{{ $json.site_url }}'::text as site_url,\n  '{{ $json.miniapp_url }}'::text as miniapp_url,\n  '{{ $json.quiz_url }}'::text as quiz_url,\n  '{{ $json.openrouter_endpoint }}'::text as openrouter_endpoint,\n  '{{ $json.openrouter_model }}'::text as openrouter_model,\n  '{{ String($json.openrouter_api_key || '').replace(/'/g, \"''\") }}'::text as openrouter_api_key\nfrom (select 1) seed\nleft join public.cb_users u on u.tg_id='{{ $json.tg_id }}'\nlimit 1;",
        "options": {}
      },
      "alwaysOutputData": true
    },
    {
      "id": "voice-registered",
      "name": "Voice Registered?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1712,
        1808
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "voice-email-exists",
              "leftValue": "={{ Boolean($json.email) }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "send-thinking-voice",
      "name": "Send Thinking (Voice)",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1488,
        1808
      ],
      "parameters": {
        "chatId": "={{ $node['Get Voice User'].json.chat_id }}",
        "text": "Слушаю голосовой вопрос, сейчас разберу его в контексте урока...",
        "additionalFields": {
          "appendAttribution": false
        }
      }
    },
    {
      "id": "get-voice-file",
      "name": "Get Voice File",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1264,
        1808
      ],
      "parameters": {
        "resource": "file",
        "fileId": "={{ $node[\"Telegram Trigger\"].json.message.voice.file_id }}",
        "additionalFields": {}
      }
    },
    {
      "id": "transcribe-voice",
      "name": "Transcribe Voice",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -1040,
        1808
      ],
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      }
    },
    {
      "id": "prepare-ai-voice-input",
      "name": "Prepare AI Voice Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -816,
        1808
      ],
      "parameters": {
        "jsCode": "return [{\n  json: {\n    ...$node['Get Voice User'].json,\n    lesson_id: '',\n    message_type: 'voice',\n    question_text: String($json.text || '').trim()\n  }\n}];"
      }
    },
    {
      "id": "ensure-lesson-queue",
      "name": "Ensure Lesson Queue",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -816,
        2128
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "with ins as (\n  insert into public.cb_user_lessons (user_tg_id, lesson_id, status)\n  select '{{ $json.tg_id }}', l.id, 'new'\n  from public.cb_lessons l\n  where coalesce(l.published_at, now()) <= now()\n  on conflict (user_tg_id, lesson_id) do nothing\n  returning lesson_id\n)\nselect\n  '{{ $json.tg_id }}'::text as tg_id,\n  '{{ $json.chat_id }}'::text as chat_id,\n  '{{ String($json.first_name || '').replace(/'/g, \"''\") }}'::text as first_name,\n  '{{ $json.site_url }}'::text as site_url,\n  '{{ $json.quiz_url }}'::text as quiz_url,\n  '{{ $json.openrouter_endpoint }}'::text as openrouter_endpoint,\n  '{{ $json.openrouter_model }}'::text as openrouter_model,\n  '{{ String($json.openrouter_api_key || '').replace(/'/g, \"''\") }}'::text as openrouter_api_key,\n  count(*)::int as inserted_count\nfrom ins;",
        "options": {}
      },
      "alwaysOutputData": true
    },
    {
      "id": "activate-current-lesson",
      "name": "Activate Current Lesson",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -592,
        1296
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "with target as (\n  select ul.id\n  from public.cb_user_lessons ul\n  join public.cb_lessons l on l.id = ul.lesson_id\n  where ul.user_tg_id = '{{ $json.tg_id }}'\n    and ul.status in ('new', 'in_progress')\n  order by case when ul.status = 'in_progress' then 0 else 1 end, l.sort_order asc\n  limit 1\n)\nupdate public.cb_user_lessons ul\nset status = 'in_progress',\n    last_opened_at = now()\nwhere ul.id in (select id from target)\nreturning ul.lesson_id,\n          '{{ $json.tg_id }}'::text as tg_id,\n          '{{ $json.chat_id }}'::text as chat_id,\n          '{{ String($json.first_name || '').replace(/'/g, \"''\") }}'::text as first_name,\n          '{{ $json.site_url }}'::text as site_url,\n          '{{ $json.quiz_url }}'::text as quiz_url,\n          '{{ $json.openrouter_endpoint }}'::text as openrouter_endpoint,\n          '{{ $json.openrouter_model }}'::text as openrouter_model,\n          '{{ String($json.openrouter_api_key || '').replace(/'/g, \"''\") }}'::text as openrouter_api_key;",
        "options": {}
      },
      "alwaysOutputData": true
    },
    {
      "id": "get-current-lesson",
      "name": "Get Current Lesson",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -368,
        1296
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "select\n  l.*,\n  '{{ $json.tg_id }}'::text as tg_id,\n  '{{ $json.chat_id }}'::text as chat_id,\n  '{{ String($json.first_name || '').replace(/'/g, \"''\") }}'::text as first_name,\n  '{{ $json.site_url }}'::text as site_url,\n  '{{ $json.quiz_url }}'::text as quiz_url,\n  '{{ $json.openrouter_endpoint }}'::text as openrouter_endpoint,\n  '{{ $json.openrouter_model }}'::text as openrouter_model,\n  '{{ String($json.openrouter_api_key || '').replace(/'/g, \"''\") }}'::text as openrouter_api_key\nfrom public.cb_user_lessons ul\njoin public.cb_lessons l on l.id = ul.lesson_id\nwhere ul.user_tg_id = '{{ $json.tg_id }}'\n  and ul.status = 'in_progress'\norder by l.sort_order asc\nlimit 1;",
        "options": {}
      },
      "alwaysOutputData": true
    },
    {
      "id": "has-current-lesson",
      "name": "Has Current Lesson?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -144,
        1296
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "current-lesson-exists",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "build-lesson-card",
      "name": "Build Lesson Card",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        80,
        1296
      ],
      "parameters": {
        "jsCode": "const esc = (value) => String(value ?? '').replace(/[&<>]/g, (m) => ({ '&': '&amp;', '<': '&lt;', '>': '&gt;' }[m]));\nconst lesson = $json;\nconst parts = [`<b>${esc(lesson.title || 'Урок')}</b>`];\nif (lesson.short_text) parts.push(esc(lesson.short_text));\nif (lesson.full_text) parts.push(esc(lesson.full_text));\nconst atlasUrl = `${lesson.site_url || 'https://cognitive-biaces.vercel.app'}?focus=${lesson.slug}#atlas`;\nreturn [{\n  json: {\n    ...lesson,\n    atlas_url: atlasUrl,\n    lesson_text: parts.join('\\n\\n')\n  }\n}];"
      }
    },
    {
      "id": "has-lesson-image",
      "name": "Has Lesson Image?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        304,
        1296
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "lesson-image-exists",
              "leftValue": "={{ Boolean($json.image_url) }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "send-lesson-photo",
      "name": "Send Lesson Photo",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        528,
        1216
      ],
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "={{ $json.chat_id }}",
        "file": "={{ $json.image_url }}",
        "additionalFields": {}
      }
    },
    {
      "id": "send-lesson-card",
      "name": "Send Lesson Card",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        752,
        1296
      ],
      "parameters": {
        "chatId": "={{ $node['Build Lesson Card'].json.chat_id }}",
        "text": "={{ $node['Build Lesson Card'].json.lesson_text }}",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Следующий",
                    "additionalFields": {
                      "callback_data": "=lesson:next:{{ $node['Build Lesson Card'].json.id }}"
                    }
                  },
                  {
                    "text": "Атлас",
                    "additionalFields": {
                      "url": "={{ $node['Build Lesson Card'].json.atlas_url }}"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Сохранить",
                    "additionalFields": {
                      "callback_data": "=lesson:save:{{ $node['Build Lesson Card'].json.id }}"
                    }
                  },
                  {
                    "text": "Спросить AI",
                    "additionalFields": {
                      "callback_data": "=lesson:ai:{{ $node['Build Lesson Card'].json.id }}"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      }
    },
    {
      "id": "send-course-complete",
      "name": "Send Course Complete",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        80,
        1456
      ],
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "=🎉 Ты дошел до конца текущего набора уроков.\n\nДальше можно закрепить материал на сайте: открыть квиз, пройти практику и вернуться к сохраненным искажениям.",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Открыть квиз",
                    "additionalFields": {
                      "url": "={{ $json.quiz_url }}"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false
        }
      }
    },
    {
      "id": "resolve-ai-lesson",
      "name": "Resolve AI Lesson",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -816,
        1664
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "select\n  l.*,\n  '{{ $json.tg_id }}'::text as tg_id,\n  '{{ $json.chat_id }}'::text as chat_id,\n  '{{ String($json.question_text || '').replace(/'/g, \"''\") }}'::text as question_text,\n  '{{ String($json.message_type || 'text').replace(/'/g, \"''\") }}'::text as message_type,\n  '{{ $json.site_url }}'::text as site_url,\n  '{{ $json.quiz_url }}'::text as quiz_url,\n  '{{ $json.openrouter_endpoint }}'::text as openrouter_endpoint,\n  '{{ $json.openrouter_model }}'::text as openrouter_model,\n  '{{ String($json.openrouter_api_key || '').replace(/'/g, \"''\") }}'::text as openrouter_api_key\nfrom public.cb_lessons l\nwhere l.id = coalesce(\n  {{ $json.lesson_id ? \"'\" + String($json.lesson_id).replace(/'/g, \"''\") + \"'\" : 'null' }}::text,\n  (\n    select ul.lesson_id\n    from public.cb_user_lessons ul\n    join public.cb_lessons cl on cl.id = ul.lesson_id\n    where ul.user_tg_id = '{{ $json.tg_id }}'\n      and ul.status = 'in_progress'\n    order by cl.sort_order asc\n    limit 1\n  ),\n  (\n    select ul.lesson_id\n    from public.cb_user_lessons ul\n    join public.cb_lessons cl on cl.id = ul.lesson_id\n    where ul.user_tg_id = '{{ $json.tg_id }}'\n      and ul.status = 'completed'\n    order by ul.completed_at desc nulls last, cl.sort_order asc\n    limit 1\n  )\n)\nlimit 1;",
        "options": {}
      },
      "alwaysOutputData": true
    },
    {
      "id": "has-ai-lesson",
      "name": "Has AI Lesson?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -592,
        1664
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ai-lesson-exists",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "send-no-lesson-yet",
      "name": "Send No Lesson Yet",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -368,
        1792
      ],
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "=Сначала открой урок через /start, чтобы у AI появился контекст. После этого можно спрашивать сколько угодно.",
        "additionalFields": {
          "appendAttribution": false
        }
      }
    },
    {
      "id": "ensure-ai-thread",
      "name": "Ensure AI Thread",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -368,
        1664
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "insert into public.cb_ai_threads (user_tg_id, lesson_id, status, last_message_at)\nvalues ('{{ $json.tg_id }}', '{{ $json.id }}', 'active', now())\non conflict (user_tg_id, lesson_id)\ndo update set status = 'active', last_message_at = now()\nreturning id as thread_id,\n          '{{ $json.tg_id }}'::text as tg_id,\n          '{{ $json.chat_id }}'::text as chat_id,\n          '{{ $json.id }}'::text as lesson_id;",
        "options": {}
      },
      "alwaysOutputData": true
    },
    {
      "id": "get-ai-history",
      "name": "Get AI History",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -144,
        1664
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "select role, message_text\nfrom public.cb_ai_messages\nwhere thread_id = '{{ $json.thread_id }}'\norder by created_at desc\nlimit 6;",
        "options": {}
      },
      "alwaysOutputData": true
    },
    {
      "id": "build-ai-prompt",
      "name": "Build AI Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        80,
        1744
      ],
      "parameters": {
        "jsCode": "function safe(name) {\n  try {\n    return $node[name].json || null;\n  } catch (error) {\n    return null;\n  }\n}\nconst lesson = safe('Resolve AI Lesson') || {};\nconst thread = safe('Ensure AI Thread') || {};\nconst callbackInput = safe('Prepare AI Suggest Input');\nconst textInput = safe('Prepare AI Text Input');\nconst voiceInput = safe('Prepare AI Voice Input');\nconst source = callbackInput?.question_text ? callbackInput : (voiceInput?.question_text ? voiceInput : textInput || {});\nconst history = $items('Get AI History', 0).map((item) => item.json).filter((item) => item.message_text).reverse().map((item) => ({ role: item.role, content: item.message_text }));\nconst questionText = String(source.question_text || lesson.question_text || '').trim();\nconst firstName = source.first_name || lesson.first_name || 'друг';\nconst related = Array.isArray(lesson.related_slugs) ? lesson.related_slugs.join(', ') : String(lesson.related_slugs || '');\nconst systemPrompt = [\n  'Ты — практичный помощник курса по когнитивным искажениям.',\n  `Обращайся к пользователю по имени: ${firstName}.`,\n  `Текущий урок: ${lesson.title || ''}`,\n  lesson.short_text || '',\n  lesson.ai_context || '',\n  related ? `Связанные искажения: ${related}` : '',\n  'Отвечай по-русски, коротко, ясно и прикладно.',\n  'Опирайся на контекст урока, не выдумывай лишние факты.',\n  'Если полезно, дай 2-4 конкретных шага или вопроса для самопроверки.',\n  'Для Telegram используй только HTML-теги <b>, без markdown.'\n].filter(Boolean).join('\\n\\n');\nreturn [{\n  json: {\n    chat_id: lesson.chat_id || thread.chat_id || source.chat_id,\n    lesson_id: lesson.id || thread.lesson_id || source.lesson_id,\n    message_type: source.message_type || 'text',\n    openrouter_endpoint: lesson.openrouter_endpoint || source.openrouter_endpoint || 'https://openrouter.ai/api/v1/chat/completions',\n    openrouter_api_key: lesson.openrouter_api_key || source.openrouter_api_key || '',\n    provider: 'openrouter',\n    question_text: questionText,\n    request_body: {\n      model: lesson.openrouter_model || source.openrouter_model || 'qwen/qwen3-coder:free',\n      messages: [\n        { role: 'system', content: systemPrompt },\n        ...history,\n        { role: 'user', content: questionText || 'Помоги понять текущее искажение.' }\n      ]\n    },\n    site_url: lesson.site_url || source.site_url || 'https://cognitive-biaces.vercel.app',\n    tg_id: lesson.tg_id || thread.tg_id || source.tg_id,\n    thread_id: thread.thread_id,\n    system_prompt: systemPrompt\n  }\n}];"
      }
    },
    {
      "id": "basic-llm-chain",
      "name": "Basic LLM Chain",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        304,
        1744
      ],
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.question_text }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "={{ $json.system_prompt }}"
            }
          ]
        },
        "batching": {}
      }
    },
    {
      "id": "openrouter-chat-model",
      "name": "OpenRouter Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        304,
        1968
      ],
      "parameters": {
        "model": "qwen/qwen3-coder:free",
        "options": {}
      }
    },
    {
      "id": "parse-ai-response",
      "name": "Parse AI Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        528,
        1744
      ],
      "parameters": {
        "jsCode": "const source = $node['Build AI Prompt']?.json || {};\nconst answer = $json.text || $json.output || $json.response?.choices?.[0]?.message?.content || $json.answer_text || 'AI не вернул текстовый ответ.';\nreturn [{\n  json: {\n    ...source,\n    answer_text: String(answer).trim(),\n    model: $json.model || source.request_body?.model || 'unknown',\n    input_tokens: $json.response?.usage?.prompt_tokens || null,\n    output_tokens: $json.response?.usage?.completion_tokens || null,\n    status: $json.status || 'ok'\n  }\n}];"
      }
    },
    {
      "id": "store-ai-user-message",
      "name": "Store AI User Message",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        752,
        1680
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "insert into public.cb_ai_messages (thread_id, role, message_text, message_type, provider, model)\nvalues (\n  '{{ $node[\"Parse AI Response\"].json.thread_id }}',\n  'user',\n  '{{ String($node[\"Parse AI Response\"].json.question_text || '').replace(/'/g, \"''\") }}',\n  '{{ String($node[\"Parse AI Response\"].json.message_type || 'text').replace(/'/g, \"''\") }}',\n  'telegram',\n  'input'\n);",
        "options": {}
      }
    },
    {
      "id": "store-ai-assistant-message",
      "name": "Store AI Assistant Message",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        976,
        1680
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "insert into public.cb_ai_messages (thread_id, role, message_text, message_type, provider, model)\nvalues (\n  '{{ $node[\"Parse AI Response\"].json.thread_id }}',\n  'assistant',\n  '{{ String($node[\"Parse AI Response\"].json.answer_text || '').replace(/'/g, \"''\") }}',\n  'text',\n  'openrouter',\n  '{{ String($node[\"Parse AI Response\"].json.model || '').replace(/'/g, \"''\") }}'\n);\n\ninsert into public.cb_ai_usage (user_tg_id, lesson_id, provider, model, input_tokens, output_tokens, status)\nvalues (\n  '{{ $node[\"Parse AI Response\"].json.tg_id }}',\n  '{{ $node[\"Parse AI Response\"].json.lesson_id }}',\n  'openrouter',\n  '{{ String($node[\"Parse AI Response\"].json.model || '').replace(/'/g, \"''\") }}',\n  {{ $node[\"Parse AI Response\"].json.input_tokens || 'null' }},\n  {{ $node[\"Parse AI Response\"].json.output_tokens || 'null' }},\n  '{{ String($node[\"Parse AI Response\"].json.status || 'ok').replace(/'/g, \"''\") }}'\n);",
        "options": {}
      }
    },
    {
      "id": "sanitize-html",
      "name": "Sanitize for Telegram HTML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        1680
      ],
      "parameters": {
        "jsCode": "const source = $node['Parse AI Response']?.json || {};\nlet text = source.answer_text ?? source.text ?? '';\nif (typeof text !== 'string') text = String(text);\ntext = text.replace(/^###\\s*(.+)$/gm, '<b>$1</b>');\ntext = text.replace(/\\*\\*(.+?)\\*\\*/gs, '<b>$1</b>');\ntext = text.replace(/__(.+?)__/gs, '<b>$1</b>');\ntext = text.replace(/\\*(.+?)\\*/gs, '$1');\ntext = text.replace(/_(.+?)_/gs, '$1');\ntext = text.replace(/```+/g, '').replace(/`+/g, '');\ntext = text.replace(/\\\\n/g, '\\n');\ntext = text.replace(/<script[\\s\\S]*?<\\/script>/gi, '');\ntext = text.replace(/\\son\\w+=\"[^\"]*\"/gi, '');\ntext = text.replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;');\nfor (const tag of ['b','i','u','s','code','pre','a','tg-spoiler']) {\n  const open = new RegExp(`&lt;${tag}(\\\\s+[^&]*?)?&gt;`, 'gi');\n  const close = new RegExp(`&lt;\\\\/${tag}\\\\s*&gt;`, 'gi');\n  text = text.replace(open, (_m, attrs='') => `<${tag}${attrs}>`).replace(close, `</${tag}>`);\n}\nreturn [{ json: { ...source, answer_text: text } }];"
      }
    },
    {
      "id": "carry-ai-ctx",
      "name": "Carry AI Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1424,
        1680
      ],
      "parameters": {
        "jsCode": "return [{\n  json: {\n    ...$json,\n    chat_id: $json.chat_id,\n    lesson_id: $json.lesson_id,\n    message: $json.answer_text,\n    session_key: `${$json.chat_id || $json.tg_id || ''}_lesson_${$json.lesson_id || ''}`\n  }\n}];"
      }
    },
    {
      "id": "chunk-html",
      "name": "Chunk for Telegram HTML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1648,
        1680
      ],
      "parameters": {
        "jsCode": "const MAX_LEN = 3500;\nconst input = items?.[0]?.json || {};\nconst raw = input.message || input.answer_text || '';\nconst chat_id = input.chat_id || input.tg_id || null;\nconst lesson_id = input.lesson_id || null;\nconst text = typeof raw === 'string' ? raw : String(raw);\nif (!text) return [];\nconst tokens = text.match(/<\\/?[a-zA-Z][^>]*>|[^<]+/g) || [];\nconst chunks = [];\nlet buffer = '';\nfor (const token of tokens) {\n  if ((buffer + token).length > MAX_LEN && buffer) {\n    chunks.push(buffer);\n    buffer = token;\n  } else {\n    buffer += token;\n  }\n}\nif (buffer) chunks.push(buffer);\nreturn chunks.map((message, index) => ({ json: { message, chat_id, lesson_id, is_last: index === chunks.length - 1 } }));"
      }
    },
    {
      "id": "loop-ai-chunks",
      "name": "Loop Over Chunks",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1872,
        1680
      ],
      "parameters": {
        "options": {}
      }
    },
    {
      "id": "is-last-ai-chunk",
      "name": "Is Last AI Chunk?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2096,
        1680
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "chunk-is-last",
              "leftValue": "={{ $json.is_last === true }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "send-ai-chunk",
      "name": "Send AI Chunk",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2320,
        1744
      ],
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      }
    },
    {
      "id": "send-ai-final-chunk",
      "name": "Send AI Final Chunk",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2320,
        1616
      ],
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "={{ $json.message }}",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Следующий урок",
                    "additionalFields": {
                      "callback_data": "=lesson:next:{{ $json.lesson_id }}"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      }
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Attach Config (Telegram)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Miniapp Registration Webhook": {
      "main": [
        [
          {
            "node": "Attach Config (Webhook)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Attach Config (Webhook)": {
      "main": [
        [
          {
            "node": "Webhook Secret Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Secret Valid?": {
      "main": [
        [
          {
            "node": "Send Registration Complete",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Webhook Invalid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Registration Complete": {
      "main": [
        [
          {
            "node": "Prepare Course Entry (Webhook)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Course Entry (Webhook)": {
      "main": [
        [
          {
            "node": "Get Webhook User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Webhook User": {
      "main": [
        [
          {
            "node": "Webhook User Exists?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook User Exists?": {
      "main": [
        [
          {
            "node": "Prepare Course Entry (Webhook User)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Webhook User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Webhook User": {
      "main": [
        [
          {
            "node": "Prepare Course Entry (Webhook User)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Course Entry (Webhook User)": {
      "main": [
        [
          {
            "node": "Ensure Lesson Queue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Attach Config (Telegram)": {
      "main": [
        [
          {
            "node": "Is Callback?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Callback?": {
      "main": [
        [
          {
            "node": "Prepare Callback Context",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Message Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Callback Context": {
      "main": [
        [
          {
            "node": "Answer Callback",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Callback User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Callback User": {
      "main": [
        [
          {
            "node": "Callback Registered?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Callback Registered?": {
      "main": [
        [
          {
            "node": "Normalize Callback Route",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Registration Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Callback Route": {
      "main": [
        [
          {
            "node": "Callback Route",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Callback Route": {
      "main": [
        [
          {
            "node": "Freeze Lesson Card",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Save Lesson",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Lesson For AI",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Hide AI Prompt Buttons",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Freeze Lesson Card": {
      "main": [
        [
          {
            "node": "Complete Lesson",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Complete Lesson": {
      "main": [
        [
          {
            "node": "Prepare Course Entry (Callback)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Course Entry (Callback)": {
      "main": [
        [
          {
            "node": "Ensure Lesson Queue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Lesson": {
      "main": [
        [
          {
            "node": "Send Saved Confirmation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Lesson For AI": {
      "main": [
        [
          {
            "node": "Send AI Suggestions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hide AI Prompt Buttons": {
      "main": [
        [
          {
            "node": "Send Thinking (Callback)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Thinking (Callback)": {
      "main": [
        [
          {
            "node": "Prepare AI Suggest Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare AI Suggest Input": {
      "main": [
        [
          {
            "node": "Resolve AI Lesson",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Message Context": {
      "main": [
        [
          {
            "node": "Message Route",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message Route": {
      "main": [
        [
          {
            "node": "Is /start?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Text User",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Voice User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is /start?": {
      "main": [
        [
          {
            "node": "Get Start User",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Unknown Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Start User": {
      "main": [
        [
          {
            "node": "Start Registered?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start Registered?": {
      "main": [
        [
          {
            "node": "Send Start Greeting",
            "type": "main",
            "index": 0
          },
          {
            "node": "Prepare Course Entry (Start)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Start User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Start User": {
      "main": [
        [
          {
            "node": "Send Registration Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Course Entry (Start)": {
      "main": [
        [
          {
            "node": "Ensure Lesson Queue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Text User": {
      "main": [
        [
          {
            "node": "Text Registered?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Text Registered?": {
      "main": [
        [
          {
            "node": "Send Thinking (Message)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Registration Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Thinking (Message)": {
      "main": [
        [
          {
            "node": "Prepare AI Text Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare AI Text Input": {
      "main": [
        [
          {
            "node": "Resolve AI Lesson",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Voice User": {
      "main": [
        [
          {
            "node": "Voice Registered?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Voice Registered?": {
      "main": [
        [
          {
            "node": "Send Thinking (Voice)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Registration Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Thinking (Voice)": {
      "main": [
        [
          {
            "node": "Get Voice File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Voice File": {
      "main": [
        [
          {
            "node": "Transcribe Voice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe Voice": {
      "main": [
        [
          {
            "node": "Prepare AI Voice Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare AI Voice Input": {
      "main": [
        [
          {
            "node": "Resolve AI Lesson",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ensure Lesson Queue": {
      "main": [
        [
          {
            "node": "Activate Current Lesson",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Activate Current Lesson": {
      "main": [
        [
          {
            "node": "Get Current Lesson",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Current Lesson": {
      "main": [
        [
          {
            "node": "Has Current Lesson?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Current Lesson?": {
      "main": [
        [
          {
            "node": "Build Lesson Card",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Course Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Lesson Card": {
      "main": [
        [
          {
            "node": "Has Lesson Image?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Lesson Image?": {
      "main": [
        [
          {
            "node": "Send Lesson Photo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Lesson Card",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Lesson Photo": {
      "main": [
        [
          {
            "node": "Send Lesson Card",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resolve AI Lesson": {
      "main": [
        [
          {
            "node": "Has AI Lesson?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has AI Lesson?": {
      "main": [
        [
          {
            "node": "Ensure AI Thread",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send No Lesson Yet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ensure AI Thread": {
      "main": [
        [
          {
            "node": "Get AI History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get AI History": {
      "main": [
        [
          {
            "node": "Build AI Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build AI Prompt": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Parse AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI Response": {
      "main": [
        [
          {
            "node": "Store AI User Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store AI User Message": {
      "main": [
        [
          {
            "node": "Store AI Assistant Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store AI Assistant Message": {
      "main": [
        [
          {
            "node": "Sanitize for Telegram HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sanitize for Telegram HTML": {
      "main": [
        [
          {
            "node": "Carry AI Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Carry AI Context": {
      "main": [
        [
          {
            "node": "Chunk for Telegram HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chunk for Telegram HTML": {
      "main": [
        [
          {
            "node": "Loop Over Chunks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Chunks": {
      "main": [
        [],
        [
          {
            "node": "Is Last AI Chunk?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Last AI Chunk?": {
      "main": [
        [
          {
            "node": "Send AI Final Chunk",
            "type": "main",
            "index": 0
          },
          {
            "node": "Loop Over Chunks",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send AI Chunk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send AI Chunk": {
      "main": [
        [
          {
            "node": "Loop Over Chunks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send AI Final Chunk": {
      "main": [
        [
          {
            "node": "Loop Over Chunks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "active": false,
  "settings": {},
  "versionId": "cognitive-biases-atlas-v2",
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "cognitive-biases-atlas"
  }
}
